{% extends "core/base.html" %} 

 {% block title  %} Home {% endblock %} 
 
 {% block content %}
 <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Мой демон</h5>
      <p class="card-text">Демон теряет демонические способности, когда судьба сводит его То До-хи — девушкой из богатой семьи. Чтобы вернуть свои силы, он вынужден с ней сотрудничать и заключить брачный контракт. </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
 {% endblock  %}