<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Your World</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "movies_list" %}">Films</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "actors_list" %}">Actors</a>
            <li class="nav-item">
                <a class="nav-link" href="directors_list">Directors</a>
              </li>
          </li>
        </ul>
        <ul>
            <li><a class="btn btn-outline-warning" href="">Войти</a></li>
            <li><a class="btn btn-outline-warning" href="">Зарегистрироваться</li>
            <li><a class="btn btn-outline-warning" href="">Личный кабинет</li>
            <li><a class="btn btn-outline-warning" href="">Выйти</li>
        </ul>
      </div>
    </div>
  </nav>
